doctype html
html
    include header.pug
    body
        include nav.pug
        .container
            .row
                .col-12
                    h1 Add new Score
            .row
                .col-12
                    h2 #{gameName}
            .row
                form.formScore.needs-validation(action='/initiateGame', method='POST', novalidate)
                    each val in playerName
                        .col-12 #{val}
                            .form-group.row
                                input.playerScore.form-control(type='number', name='playerScore', placeholder='Score', required)
                                .valid-feedback Looks good!
                                .invalid-feedback Please enter a score.        
                    button.btn.btn-primary(type='submit') Save    
        script
            include ../scripts/validation.js                
        include footer.pug