extends index.pug
block content
    if (errors)
        .row
            .col
                ul
                each error in errors                       
                    li #{error}
    .row
        .col.mt-4
            h4 Add scores
    form.formScore.needs-validation(action= url + '/add', method='POST', novalidate)
        .row.form-group   
            label.col-sm-3.font-weight-bold.col-form-label(for='roundName') Round name
            .col
                input.roundName.form-control(type='text', name= 'roundName', value= roundCounter, maxlength="20", placeholder='Round Name (optional)') 
        each val in playerNames
            .row.form-group
                label.col-sm-3.font-weight-bold.col-form-label(for= val) #{val}
                .col
                    input.playerScore.form-control(type='number', name= 'playerScores', placeholder='Score', required)
                    .valid-feedback Looks good!
                    .invalid-feedback Please enter a score.        
        button.mt-2.btn(type='submit') Save

append scripts
    script(src='/scripts/validation.js')