doctype html
html
    include header.pug
    body
        include nav.pug
        .container
            if (errors)
                .row
                    .col-12
                        ul
                        each error in errors                       
                            li #{error}
            .row
                .col-12
                    h2.text-center Add new Score
            .row
                form.formScore.needs-validation(action='/newRound', method='POST', novalidate)
                    .col-12 Round Name
                        .form-group.row
                            input.roundName.form-control(type='text', name= 'roundName', value= defaultRoundName, maxlength="20", placeholder='Round Name (optional)')
                    each val in playerNames
                        .col-12 #{val}
                            .form-group.row
                                input.playerScore.form-control(type='number', name= 'playerScores', placeholder='Score', required)
                                .valid-feedback Looks good!
                                .invalid-feedback Please enter a score.        
                    button.btn.btn-primary(type='submit') Save    
        script
            include ../scripts/validation.js                
        include footer.pug