doctype html
html
    include header.pug
    body
        include nav.pug
        .container
            .row.justify-content-center
                .col-8
                    h1 Scoreboard
        include footer.pug