doctype html
html
    include header.pug
    body
        include nav.pug
        .container
            .row
                a(role='button' class='btn btn-primary btn-lg' href="addRound") Add Round
            .row
                .col-12
                    h2 #{gameName}
                    table.table.table-striped
                        thead
                            tr
                                th(scope='col') Noms
                                each val in playerName
                                    th(scope='col') #{val}
                        tbody
                            tr
                            
        script
            include ../scripts/validation.js                
        include footer.pug