.container
    .row
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.col-sm-12
            a.navbar-brand(href='index') Scoreboard
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarTogglerDemo02
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item
                        a.nav-link(href='new') New Game
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') About