extends index.pug
block content
    if (errors)
        .row
            .col
                ul
                each error in errors                       
                    li #{error}           
    .row
        .col
            h4 New game
    hr
    .row.mt-1    
        .col
            form.formNewGame.needs-validation(action='/game/players', method='POST', novalidate)
                .form-group.row
                    label.col-sm-3.col-form-label(for='inputGameName') Game name
                    .col
                        input#inputGameName.form-control(type='text', name='inputGameName', placeholder='Game name', maxlength="20", required='')
                        .valid-feedback Looks good!
                        .invalid-feedback Please choose a name for the game.
                .form-group.row
                    label.col-sm-3.col-form-label(for='inputNumberPlayers') Number of players
                    .col
                        input#inputNumberPlayers.form-control(type='number', min='2', max='25', name='inputNumberPlayers', placeholder='Number of players (max 25)', required='')
                        .valid-feedback Looks good!
                        .invalid-feedback Please choose a number of players between 2 and 25.
                fieldset.form-group
                    .row
                        legend.col-form-label.col-auto How should the results be presented?
                    .row
                        .col
                            .form-check
                                input#radio1.form-check-input(type='radio', name='resultDisplay', value='totalScore', required='')
                                label.form-check-label(for='radio1') Show total scores (default)
                            .form-check
                                input#radio2.form-check-input(type='radio', name='resultDisplay', value='roundWon') 
                                label.form-check-label(for='radio2') Show rounds won
                                .valid-feedback Looks good!
                                .invalid-feedback Please choose a setting.
                fieldset.form-group
                    .row
                        legend.col-form-label.col-auto Does the highest or the lowest score win the game?
                    .row
                        .col
                            .form-check
                                input#radio3.form-check-input(type='radio', name='winRule', value='high', required='')
                                label.form-check-label(for='radio3') Highest score wins the game/round
                            .form-check
                                input#radio4.form-check-input(type='radio', name='winRule', value='low')
                                label.form-check-label(for='radio4') Lowest score wins the game/round
                                .valid-feedback Looks good!
                                .invalid-feedback Please choose a setting.
                .form-group.row.mt-2
                    .col
                        button.btn.btn-custom(type='submit') Next      
                                      
append scripts
    script(src='/scripts/validation.js')

