extends index.pug
block content
    if (errors)
        .row
            .col
                ul
                each error in errors                       
                    li #{error}           
    .row.mt-4
        .col
            h4 New game
    .row.mt-1    
        .col
            form.formNewGame.needs-validation(action='/game/players', method='POST', novalidate)
                .form-group.row
                    label.col-sm-3.col-form-label(for='inputGameName') Game name
                    .col
                        input#inputGameName.form-control(type='text', name='inputGameName', placeholder='Game name', maxlength="20", required='')
                        .valid-feedback Looks good!
                        .invalid-feedback Please choose a name for the game.
                .form-group.row
                    label.col-sm-3.col-form-label(for='inputNumberPlayers') Number of players
                    .col
                        input#inputNumberPlayers.form-control(type='number', min='2', max='10', name='inputNumberPlayers', placeholder='Number of players (max 10)', required='')
                        .valid-feedback Looks good!
                        .invalid-feedback Please choose a number of players between 2 and 10.
                fieldset.form-group
                    .row
                        legend.col-form-label.col-auto Does the highest or the lowest score win the round?
                    .row
                        .col
                            .form-check
                                input#gridRadios1.form-check-input(type='radio', name='winRule', value='high', required='')
                                label.form-check-label(for='gridRadios1') Highest score wins round
                            .form-check
                                input#gridRadios2.form-check-input(type='radio', name='winRule', value='low')
                                label.form-check-label(for='gridRadios2') Lowest score wins round
                                .valid-feedback Looks good!
                                .invalid-feedback Please choose a setting.
                .form-group.row.mt-2
                    .col
                        button.btn(type='submit') Next      
                                      
append scripts
    script(src='/scripts/validation.js')

