extends index.pug
block content
    include ./gameTemplate.pug                                                                                   
append scripts
  script(src='/scripts/reverseTable.js')