.row.mt-2
  .col
    nav(aria-label="Game list pagination")
      ul.pagination.pagination-sm.justify-content-end
        if (currentPage > 3)
          li.page-item
            a.page-link(href='/page/' + 1) first
        if currentPage > 4
          li.page-item
            a.page-link(href='#') ...
        - for(let i = currentPage - 2; i <= currentPage + 2; i++)
          if (i > 0) && (i < amountOfPages)
            li.page-item
            a.page-link(href='/page/' + i) #{i}
        if (currentPage + 3) < amountOfPages
          li.page-item
            a.page-link(href='#') ...
        if (currentPage <= amountOfPages)
          li.page-item
            a.page-link(href='/page/' + amountOfPages) last