:root {
--bg-theme-color: #F7F7F7;
--light-theme-color: #d61b30;
--dark-theme-color: #444;
}



body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--bg-theme-color);
}
.navbar {
    background-color: var(--dark-theme-color)
}
#wrapper{
    background-color: #fff; 
}

h1, h2, h3, h4 {
    color: var(--light-theme-color);
}
.form-control:focus {
    
    border-color: var(--light-theme-color);
    box-shadow: 0 0 0 0rem var(--light-theme-color);
}
.btn-custom{
    background-color: var(--light-theme-color);
    color: #fff;
}

.btn-custom:hover {
    background-color: var(--bg-theme-color);
    color: var(--light-theme-color);
}

.btn-custom:focus,
.btn-custom:active    {
    background-color: var(--bg-theme-color);
    color: var(--light-theme-color);
    box-shadow: none;
}

.table-results {
    background-color: var(--bg-theme-color);
}

.table-results td{
    color: var(--light-theme-color);
}

.delete-link:hover {
    color: var(--light-theme-color);
}